# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Virtual envs
.venv/
venv/
ENV/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Data & outputs (keep repo light)
dataset/
models/*.pt
models/*.onnx

# Logs
logs/
*.log

# Misc
*.bak
*.tmp
